.box {
    margin: 20px;
    width: fit-content;
    height: fit-content;
}

.box box1 {
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: fit-content;
    height: fit-content;
}


.item-paper {
    display: flex;
    justify-content: center; /* Center content inside the Paper */
    align-items: center;     /* Center content vertically */
    /* width: 60vw;           
    height: 70vh;            */
    max-width: 59vw;
    margin: auto;           /* Center Paper horizontally */
    padding: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

